sistra-1.1.4-fix/moduls/modul-regtel/moduls/webservices/wsdl/regtel/v1/OficioRemision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:es:caib:regtel:ws:v1:model:OficioRemision" targetNamespace="urn:es:caib:regtel:ws:v1:model:OficioRemision" version="1.0">
	<xs:complexType name="OficioRemision">
		<xs:sequence>
			<xs:element name="titulo" type="xs:string"/>
			<xs:element name="texto" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
