moduls/modul-bantel/moduls/webservicesClient/wsdl/v2/BantelFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:es:caib:bantel:ws:v2:services" xmlns:intf="urn:es:caib:bantel:ws:v2:model:BantelFacade" xmlns:tns1="urn:es:caib:bantel:ws:v2:model:ReferenciaEntrada" targetNamespace="urn:es:caib:bantel:ws:v2:services" name="BantelFacade">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="urn:es:caib:bantel:ws:v2:model:BantelFacade" xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
			<xsd:import namespace="urn:es:caib:bantel:ws:v2:model:ReferenciaEntrada" schemaLocation="ReferenciaEntrada.xsd"/>
			<xsd:element name="avisoEntradas">
				<complexType>
					<sequence>
						<element name="numeroEntradas" type="tns1:ReferenciasEntrada"/>
					</sequence>
				</complexType>
			</xsd:element>
			<xsd:element name="avisoEntradasResponse">
				<complexType/>
			</xsd:element>
			<complexType name="BantelFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BantelFacadeException"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="avisoEntradasRequest">
		<wsdl:part name="parameters" element="intf:avisoEntradas"/>
	</wsdl:message>
	<wsdl:message name="BantelFacadeException">
		<wsdl:part name="fault" element="intf:fault"/>
	</wsdl:message>
	<wsdl:message name="avisoEntradasResponse">
		<wsdl:part name="parameters" element="intf:avisoEntradasResponse"/>
	</wsdl:message>
	<wsdl:portType name="BantelFacade">
		<wsdl:operation name="avisoEntradas">
			<wsdl:input name="avisoEntradasRequest" message="impl:avisoEntradasRequest"/>
			<wsdl:output name="avisoEntradasResponse" message="impl:avisoEntradasResponse"/>
			<wsdl:fault name="BantelFacadeException" message="impl:BantelFacadeException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BantelFacadeSoapBinding" type="impl:BantelFacade">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="avisoEntradas">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BantelFacadeException">
				<soap:fault name="BantelFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BantelFacadeService">
		<wsdl:port name="BantelFacade" binding="impl:BantelFacadeSoapBinding">
			<soap:address location="http://intranet.caib.es/bantel-ws/services/v2/BantelFacade"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
