moduls/llibreria-xml/moduls/xml/xsd/DOCUMENTO_EXTERNO_NOTIFICACION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
		
	<xs:element name="DOCUMENTO_EXTERNO_NOTIFICACION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NOMBRE" />
				<xs:element ref="URL"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="NOMBRE" type="string_no_vacio" />
	<xs:element name="URL" type="string_no_vacio"/>
		
   <xs:simpleType name="string_no_vacio">
  	<xs:restriction base="xs:string">
    	<xs:minLength value="1"/>
  	</xs:restriction>
  </xs:simpleType>
	
</xs:schema>
