INDRA_103-110/moduls/modul-bantel/moduls/webservices/wsdl/v1/BackofficeFacade.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:es:caib:bantel:ws:v1:services" xmlns:intf="urn:es:caib:bantel:ws:v1:model:BackofficeFacade" xmlns:tns1="urn:es:caib:bantel:ws:v1:model:TramiteBTE" xmlns:tns2="urn:es:caib:bantel:ws:v1:model:ReferenciaEntrada" targetNamespace="urn:es:caib:bantel:ws:v1:services" name="BackofficeFacade">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="urn:es:caib:bantel:ws:v1:model:BackofficeFacade" xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
			<xsd:import namespace="urn:es:caib:bantel:ws:v1:model:TramiteBTE" schemaLocation="TramiteBTE.xsd"/>
			<xsd:import namespace="urn:es:caib:bantel:ws:v1:model:ReferenciaEntrada" schemaLocation="ReferenciaEntrada.xsd"/>
			<xsd:element name="obtenerNumerosEntradas">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identificadorTramite" type="xsd:string"/>
						<xsd:element name="procesada" type="xsd:string"/>
						<xsd:element name="desde" type="xsd:dateTime"/>
						<xsd:element name="hasta" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerNumerosEntradasResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerNumerosEntradasReturn" type="tns2:ReferenciasEntrada"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerEntrada">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numeroEntrada" type="tns2:ReferenciaEntrada"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerEntradaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerEntradaReturn" type="tns1:TramiteBTE"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="establecerResultadoProceso">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numeroEntrada" type="tns2:ReferenciaEntrada"/>
						<xsd:element name="resultado" type="xsd:string"/>
						<xsd:element name="resultadoProcesamiento" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="establecerResultadoProcesoResponse">
				<xsd:complexType/>
			</xsd:element>
			<complexType name="BackofficeFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BackofficeFacadeException"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="obtenerNumerosEntradasRequest">
		<wsdl:part name="parameters" element="intf:obtenerNumerosEntradas"/>
	</wsdl:message>
	<wsdl:message name="BackofficeFacadeException">
		<wsdl:part name="fault" element="intf:fault"/>
	</wsdl:message>
	<wsdl:message name="obtenerNumerosEntradasResponse">
		<wsdl:part name="parameters" element="intf:obtenerNumerosEntradasResponse"/>
	</wsdl:message>
	<wsdl:message name="obtenerEntradaRequest">
		<wsdl:part name="parameters" element="intf:obtenerEntrada"/>
	</wsdl:message>
	<wsdl:message name="obtenerEntradaResponse">
		<wsdl:part name="parameters" element="intf:obtenerEntradaResponse"/>
	</wsdl:message>
	<wsdl:message name="establecerResultadoProcesoRequest">
		<wsdl:part name="parameters" element="intf:establecerResultadoProceso"/>
	</wsdl:message>
	<wsdl:message name="establecerResultadoProcesoResponse">
		<wsdl:part name="parameters" element="intf:establecerResultadoProcesoResponse"/>
	</wsdl:message>
	<wsdl:portType name="BackofficeFacade">
		<wsdl:operation name="obtenerNumerosEntradas">
			<wsdl:input name="obtenerNumerosEntradasRequest" message="impl:obtenerNumerosEntradasRequest"/>
			<wsdl:output name="obtenerNumerosEntradasResponse" message="impl:obtenerNumerosEntradasResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="establecerResultadoProceso">
			<wsdl:input name="establecerResultadoProcesoRequest" message="impl:establecerResultadoProcesoRequest"/>
			<wsdl:output name="establecerResultadoProcesoResponse" message="impl:establecerResultadoProcesoResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="obtenerEntrada">
			<wsdl:input name="obtenerEntradaRequest" message="impl:obtenerEntradaRequest"/>
			<wsdl:output name="obtenerEntradaResponse" message="impl:obtenerEntradaResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BackofficeFacadeSoapBinding" type="impl:BackofficeFacade">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="obtenerNumerosEntradas">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="establecerResultadoProceso">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerEntrada">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BackofficeFacadeService">
		<wsdl:port name="BackofficeFacade" binding="impl:BackofficeFacadeSoapBinding">
			<soap:address location="http://intranet.caib.es/bantelws/services/v1/BackofficeFacade"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
