moduls/modul-mobtratel/moduls/webservices/wsdl/mobtratel/v1/BackofficeFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:es:caib:mobtratel:ws:v1:services" xmlns:intf="urn:es:caib:mobtratel:ws:v1:model:BackofficeFacade" xmlns:tns1="urn:es:caib:mobtratel:ws:v1:model:MensajeEnvio" targetNamespace="urn:es:caib:mobtratel:ws:v1:services" name="BackofficeFacade">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="urn:es:caib:mobtratel:ws:v1:model:BackofficeFacade" xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
			<xsd:import namespace="urn:es:caib:mobtratel:ws:v1:model:MensajeEnvio" schemaLocation="MensajeEnvio.xsd"/>
			<xsd:element name="enviarMensaje">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mensaje" type="tns1:MensajeEnvio"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="enviarMensajeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="enviarMensajeReturn" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<complexType name="BackofficeFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BackofficeFacadeException"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="enviarMensajeRequest">
		<wsdl:part name="parameters" element="intf:enviarMensaje"/>
	</wsdl:message>
	<wsdl:message name="BackofficeFacadeException">
		<wsdl:part name="fault" element="intf:fault"/>
	</wsdl:message>
	<wsdl:message name="enviarMensajeResponse">
		<wsdl:part name="parameters" element="intf:enviarMensajeResponse"/>
	</wsdl:message>
	<wsdl:portType name="BackofficeFacade">
		<wsdl:operation name="enviarMensaje">
			<wsdl:input name="enviarMensajeRequest" message="impl:enviarMensajeRequest"/>
			<wsdl:output name="enviarMensajeResponse" message="impl:enviarMensajeResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BackofficeFacadeSoapBinding" type="impl:BackofficeFacade">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="enviarMensaje">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BackofficeFacadeService">
		<wsdl:port name="BackofficeFacade" binding="impl:BackofficeFacadeSoapBinding">
			<soap:address location="http://intranet.caib.es/mobtratelws/services/v1/BackofficeFacade"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
