moduls/modul-regtel/moduls/webservices/wsdl/regtel/v1/Aviso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:es:caib:regtel:ws:v1:model:Aviso" targetNamespace="urn:es:caib:regtel:ws:v1:model:Aviso" version="1.0">
	<xs:complexType name="Aviso">
		<xs:sequence>
			<xs:element name="titulo" type="xs:string"/>
			<xs:element name="texto" type="xs:string"/>
			<xs:element name="textoSMS" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
