moduls/modul-regtel/moduls/webservices/wsdl/regtel/v1/DatosExpediente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:es:caib:regtel:ws:v1:model:DatosExpediente" targetNamespace="urn:es:caib:regtel:ws:v1:model:DatosExpediente" version="1.0">
	<xs:complexType name="DatosExpediente">
		<xs:sequence>
			<xs:element name="unidadAdministrativa" type="xs:long"/>
			<xs:element name="identificadorExpediente" type="xs:string"/>
			<xs:element name="claveExpediente" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
