moduls/modul-zonaper/moduls/webservices/wsdl/zonaper/v2/BackofficeFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:es:caib:zonaper:ws:v2:services" xmlns:intf="urn:es:caib:zonaper:ws:v2:model:BackofficeFacade" xmlns:tns1="urn:es:caib:zonaper:ws:v2:model:Expediente" xmlns:tns2="urn:es:caib:zonaper:ws:v2:model:EventoExpediente" xmlns:tns3="urn:es:caib:zonaper:ws:v2:model:EstadoPago" xmlns:tns4="urn:es:caib:zonaper:ws:v2:model:ConfiguracionAvisosExpediente" xmlns:tns5="urn:es:caib:zonaper:ws:v2:model:TramitePersistente" xmlns:tns6="urn:es:caib:zonaper:ws:v2:model:ElementoExpediente" targetNamespace="urn:es:caib:zonaper:ws:v2:services" name="BackofficeFacade">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="urn:es:caib:zonaper:ws:v2:model:BackofficeFacade" xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:Expediente" schemaLocation="Expediente.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:EventoExpediente" schemaLocation="EventoExpediente.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:EstadoPago" schemaLocation="EstadoPago.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:ConfiguracionAvisosExpediente" schemaLocation="ConfiguracionAvisosExpediente.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:TramitePersistente" schemaLocation="TramitePersistente.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v2:model:ElementoExpediente" schemaLocation="ElementoExpediente.xsd"/>
			<xsd:element name="altaExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="expediente" type="tns1:Expediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaExpedienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="altaExpedienteReturn" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaEventoExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unidadAdministrativa" type="xsd:long"/>
						<xsd:element name="identificadorExpediente" type="xsd:string"/>
						<xsd:element name="claveExpediente" type="xsd:string"/>
						<xsd:element name="evento" type="tns2:EventoExpediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaEventoExpedienteResponse">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="modificarAvisosExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unidadAdministrativa" type="xsd:long"/>
						<xsd:element name="identificadorExpediente" type="xsd:string"/>
						<xsd:element name="claveExpediente" type="xsd:string"/>
						<xsd:element name="configuracionAvisosExpediente" type="tns4:ConfiguracionAvisosExpediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modificarAvisosExpedienteResponse">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="existeExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unidadAdministrativa" type="xsd:long"/>
						<xsd:element name="identificadorExpediente" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeExpedienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="existeExpedienteReturn" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeZonaPersonalUsuario">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nifUsuario" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeZonaPersonalUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="existeZonaPersonalUsuarioReturn" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaZonaPersonalUsuario">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nif" type="xsd:string"/>
						<xsd:element name="nombre" type="xsd:string"/>
						<xsd:element name="apellido1" type="xsd:string"/>
						<xsd:element name="apellido2" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaZonaPersonalUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="altaZonaPersonalUsuarioReturn" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerEstadoPagosTramite">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identificadorPersistenciaTramite" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerEstadoPagosTramiteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerEstadoPagosTramiteReturn" type="tns3:EstadoPagos"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerPersistentes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nif" type="xsd:string"/>
						<xsd:element name="fechaDesde" type="xsd:dateTime"/>
						<xsd:element name="fechaHasta" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerPersistentesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerPersistentesReturn" type="tns5:TramitesPersistentes"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerElementosExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="filtroElementosExpediente" type="tns6:FiltroElementosExpediente"/>
						<xsd:element name="pagina" type="xsd:int" nillable="true" minOccurs="0"/>
						<xsd:element name="tamPagina"  type="xsd:int" nillable="true" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerElementosExpedienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerElementosExpedienteReturn" type="tns6:ElementosExpediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerTotalElementosExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="filtroElementosExpediente" type="tns6:FiltroElementosExpediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerTotalElementosExpedienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerTotalElementosExpedienteReturn" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<complexType name="BackofficeFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BackofficeFacadeException"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="altaEventoExpedienteRequest">
		<wsdl:part name="parameters" element="intf:altaEventoExpediente"/>
	</wsdl:message>
	<wsdl:message name="BackofficeFacadeException">
		<wsdl:part name="fault" element="intf:fault"/>
	</wsdl:message>
	<wsdl:message name="altaEventoExpedienteResponse">
		<wsdl:part name="parameters" element="intf:altaEventoExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="altaExpedienteRequest">
		<wsdl:part name="parameters" element="intf:altaExpediente"/>
	</wsdl:message>
	<wsdl:message name="altaExpedienteResponse">
		<wsdl:part name="parameters" element="intf:altaExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="existeZonaPersonalUsuarioRequest">
		<wsdl:part name="parameters" element="intf:existeZonaPersonalUsuario"/>
	</wsdl:message>
	<wsdl:message name="existeZonaPersonalUsuarioResponse">
		<wsdl:part name="parameters" element="intf:existeZonaPersonalUsuarioResponse"/>
	</wsdl:message>
	<wsdl:message name="existeExpedienteRequest">
		<wsdl:part name="parameters" element="intf:existeExpediente"/>
	</wsdl:message>
	<wsdl:message name="existeExpedienteResponse">
		<wsdl:part name="parameters" element="intf:existeExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="modificarAvisosExpedienteRequest">
		<wsdl:part name="parameters" element="intf:modificarAvisosExpediente"/>
	</wsdl:message>
	<wsdl:message name="modificarAvisosExpedienteResponse">
		<wsdl:part name="parameters" element="intf:modificarAvisosExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="altaZonaPersonalUsuarioRequest">
		<wsdl:part name="parameters" element="intf:altaZonaPersonalUsuario"/>
	</wsdl:message>
	<wsdl:message name="altaZonaPersonalUsuarioResponse">
		<wsdl:part name="parameters" element="intf:altaZonaPersonalUsuarioResponse"/>
	</wsdl:message>
	<wsdl:message name="obtenerEstadoPagosTramiteRequest">
		<wsdl:part name="parameters" element="intf:obtenerEstadoPagosTramite"/>
	</wsdl:message>
	<wsdl:message name="obtenerEstadoPagosTramiteResponse">
		<wsdl:part name="parameters" element="intf:obtenerEstadoPagosTramiteResponse"/>
	</wsdl:message>
	<wsdl:message name="obtenerPersistentesRequest">
		<wsdl:part name="parameters" element="intf:obtenerPersistentes"/>
	</wsdl:message>
	<wsdl:message name="obtenerPersistentesResponse">
		<wsdl:part name="parameters" element="intf:obtenerPersistentesResponse"/>
	</wsdl:message>
	<wsdl:message name="obtenerElementosExpedienteRequest">
		<wsdl:part name="parameters" element="intf:obtenerElementosExpediente"/>
	</wsdl:message>
	<wsdl:message name="obtenerElementosExpedienteResponse">
		<wsdl:part name="parameters" element="intf:obtenerElementosExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="obtenerTotalElementosExpedienteRequest">
		<wsdl:part name="parameters" element="intf:obtenerTotalElementosExpediente"/>
	</wsdl:message>
	<wsdl:message name="obtenerTotalElementosExpedienteResponse">
		<wsdl:part name="parameters" element="intf:obtenerTotalElementosExpedienteResponse"/>
	</wsdl:message>
	<wsdl:portType name="BackofficeFacade">
		<wsdl:operation name="altaExpediente">
			<wsdl:input name="altaExpedienteRequest" message="impl:altaExpedienteRequest"/>
			<wsdl:output name="altaExpedienteResponse" message="impl:altaExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="altaEventoExpediente">
			<wsdl:input name="altaEventoExpedienteRequest" message="impl:altaEventoExpedienteRequest"/>
			<wsdl:output name="altaEventoExpedienteResponse" message="impl:altaEventoExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="existeExpediente">
			<wsdl:input name="existeExpedienteRequest" message="impl:existeExpedienteRequest"/>
			<wsdl:output name="existeExpedienteResponse" message="impl:existeExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="modificarAvisosExpediente">
			<wsdl:input name="modificarAvisosExpedienteRequest" message="impl:modificarAvisosExpedienteRequest"/>
			<wsdl:output name="modificarAvisosExpedienteResponse" message="impl:modificarAvisosExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="existeZonaPersonalUsuario">
			<wsdl:input name="existeZonaPersonalUsuarioRequest" message="impl:existeZonaPersonalUsuarioRequest"/>
			<wsdl:output name="existeZonaPersonalUsuarioResponse" message="impl:existeZonaPersonalUsuarioResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="altaZonaPersonalUsuario">
			<wsdl:input name="altaZonaPersonalUsuarioRequest" message="impl:altaZonaPersonalUsuarioRequest"/>
			<wsdl:output name="altaZonaPersonalUsuarioResponse" message="impl:altaZonaPersonalUsuarioResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="obtenerEstadoPagosTramite">
			<wsdl:input name="obtenerEstadoPagosTramiteRequest" message="impl:obtenerEstadoPagosTramiteRequest"/>
			<wsdl:output name="obtenerEstadoPagosTramiteResponse" message="impl:obtenerEstadoPagosTramiteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="obtenerPersistentes">
			<wsdl:input name="obtenerPersistentesRequest" message="impl:obtenerPersistentesRequest"/>
			<wsdl:output name="obtenerPersistentesResponse" message="impl:obtenerPersistentesResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="obtenerElementosExpediente">
			<wsdl:input name="obtenerElementosExpedienteRequest" message="impl:obtenerElementosExpedienteRequest"/>
			<wsdl:output name="obtenerElementosExpedienteResponse" message="impl:obtenerElementosExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="obtenerTotalElementosExpediente">
			<wsdl:input name="obtenerTotalElementosExpedienteRequest" message="impl:obtenerTotalElementosExpedienteRequest"/>
			<wsdl:output name="obtenerTotalElementosExpedienteResponse" message="impl:obtenerTotalElementosExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BackofficeFacadeSoapBinding" type="impl:BackofficeFacade">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="altaExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="altaEventoExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="existeExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modificarAvisosExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="existeZonaPersonalUsuario">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="altaZonaPersonalUsuario">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerEstadoPagosTramite">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerPersistentes">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerElementosExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerTotalElementosExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BackofficeFacadeService">
		<wsdl:port name="BackofficeFacade" binding="impl:BackofficeFacadeSoapBinding">
			<soap:address location="http://intranet.caib.es/zonaperws/services/v2/BackofficeFacade"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
