sistra-1.1.1-fix/moduls/modul-bantel/moduls/webservicesClient/wsdl/v1/ReferenciaEntrada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:es:caib:bantel:ws:v1:model:ReferenciaEntrada" targetNamespace="urn:es:caib:bantel:ws:v1:model:ReferenciaEntrada" version="1.0">
	<xs:complexType name="ReferenciaEntrada">
		<xs:sequence>
			<xs:element name="numeroEntrada" type="xs:string"/>
			<xs:element name="claveAcceso" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenciasEntrada">
		<xs:sequence>
			<xs:element name="referenciaEntrada" type="tns:ReferenciaEntrada" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
