sistra-2.2/moduls/modul-redose/moduls/webservices/wsdl/redose/v2/BackofficeFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:es:caib:redose:ws:v2:services" xmlns:intf="urn:es:caib:redose:ws:v2:model:BackofficeFacade" xmlns:tns1="urn:es:caib:redose:ws:v2:model:DocumentoRDS" xmlns:tns2="urn:es:caib:redose:ws:v2:model:ReferenciaRDS" xmlns:tns3="urn:es:caib:redose:ws:v2:model:TransformacionRDS" targetNamespace="urn:es:caib:redose:ws:v2:services" name="BackofficeFacade">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="urn:es:caib:redose:ws:v2:model:BackofficeFacade" xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
			<xsd:import namespace="urn:es:caib:redose:ws:v2:model:DocumentoRDS" schemaLocation="DocumentoRDS.xsd"/>
			<xsd:import namespace="urn:es:caib:redose:ws:v2:model:TransformacionRDS" schemaLocation="TransformacionRDS.xsd"/>
			<xsd:import namespace="urn:es:caib:redose:ws:v2:model:ReferenciaRDS" schemaLocation="ReferenciaRDS.xsd"/>
			<xsd:element name="insertarDocumento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documento" type="tns1:DocumentoRDS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="insertarDocumentoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="insertarDocumentoReturn" type="tns2:ReferenciaRDS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="insertarDocumentoConTransformacion">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documento" type="tns1:DocumentoRDS"/>
						<xsd:element name="transformacion" type="tns3:TransformacionRDS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="insertarDocumentoConTransformacionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="insertarDocumentoConTransformacionReturn" type="tns2:ReferenciaRDS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDocumento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="referencia" type="tns2:ReferenciaRDS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDocumentoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="consultarDocumentoReturn" type="tns1:DocumentoRDS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDocumentoFormateado">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="referencia" type="tns2:ReferenciaRDS"/>
						<xsd:element name="tipoPlantilla" type="xsd:string"/>
						<xsd:element name="idioma" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="consultarDocumentoFormateadoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="consultarDocumentoFormateadoReturn" type="tns1:DocumentoRDS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<complexType name="BackofficeFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BackofficeFacadeException"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="insertarDocumentoRequest">
		<wsdl:part name="parameters" element="intf:insertarDocumento"/>
	</wsdl:message>
	<wsdl:message name="BackofficeFacadeException">
		<wsdl:part name="fault" element="intf:fault"/>
	</wsdl:message>
	<wsdl:message name="insertarDocumentoResponse">
		<wsdl:part name="parameters" element="intf:insertarDocumentoResponse"/>
	</wsdl:message>
	<wsdl:message name="insertarDocumentoConTransformacionRequest">
		<wsdl:part name="parameters" element="intf:insertarDocumentoConTransformacion"/>
	</wsdl:message>
	<wsdl:message name="insertarDocumentoConTransformacionResponse">
		<wsdl:part name="parameters" element="intf:insertarDocumentoConTransformacionResponse"/>
	</wsdl:message>
	<wsdl:message name="consultarDocumentoRequest">
		<wsdl:part name="parameters" element="intf:consultarDocumento"/>
	</wsdl:message>
	<wsdl:message name="consultarDocumentoResponse">
		<wsdl:part name="parameters" element="intf:consultarDocumentoResponse"/>
	</wsdl:message>
	<wsdl:message name="consultarDocumentoFormateadoRequest">
		<wsdl:part name="parameters" element="intf:consultarDocumentoFormateado"/>
	</wsdl:message>
	<wsdl:message name="consultarDocumentoFormateadoResponse">
		<wsdl:part name="parameters" element="intf:consultarDocumentoFormateadoResponse"/>
	</wsdl:message>
	<wsdl:portType name="BackofficeFacade">
		<wsdl:operation name="insertarDocumento">
			<wsdl:input name="insertarDocumentoRequest" message="impl:insertarDocumentoRequest"/>
			<wsdl:output name="insertarDocumentoResponse" message="impl:insertarDocumentoResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="insertarDocumentoConTransformacion">
			<wsdl:input name="insertarDocumentoConTransformacionRequest" message="impl:insertarDocumentoConTransformacionRequest"/>
			<wsdl:output name="insertarDocumentoConTransformacionResponse" message="impl:insertarDocumentoConTransformacionResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="consultarDocumento">
			<wsdl:input name="consultarDocumentoRequest" message="impl:consultarDocumentoRequest"/>
			<wsdl:output name="consultarDocumentoResponse" message="impl:consultarDocumentoResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="consultarDocumentoFormateado">
			<wsdl:input name="consultarDocumentoFormateadoRequest" message="impl:consultarDocumentoFormateadoRequest"/>
			<wsdl:output name="consultarDocumentoFormateadoResponse" message="impl:consultarDocumentoFormateadoResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BackofficeFacadeSoapBinding" type="impl:BackofficeFacade">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="insertarDocumento">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insertarDocumentoConTransformacion">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDocumento">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultarDocumentoFormateado">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BackofficeFacadeService">
		<wsdl:port name="BackofficeFacade" binding="impl:BackofficeFacadeSoapBinding">
			<soap:address location="http://intranet.caib.es/redosews/services/v2/BackofficeFacade"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
