moduls/modul-zonaper/moduls/webservices/wsdl/v1/BackofficeFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:es:caib:zonaper:ws:v1:services" xmlns:intf="urn:es:caib:zonaper:ws:v1:model:BackofficeFacade" xmlns:tns1="urn:es:caib:zonaper:ws:v1:model:Expediente" xmlns:tns2="urn:es:caib:zonaper:ws:v1:model:EventoExpediente" targetNamespace="urn:es:caib:zonaper:ws:v1:services" name="BackofficeFacade">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="urn:es:caib:zonaper:ws:v1:model:BackofficeFacade" xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
			<xsd:import namespace="urn:es:caib:zonaper:ws:v1:model:Expediente" schemaLocation="Expediente.xsd"/>
			<xsd:import namespace="urn:es:caib:zonaper:ws:v1:model:EventoExpediente" schemaLocation="EventoExpediente.xsd"/>
			<xsd:element name="altaExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="expediente" type="tns1:Expediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaExpedienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="altaExpedienteReturn" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaEventoExpediente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unidadAdministrativa" type="xsd:long"/>
						<xsd:element name="identificadorExpediente" type="xsd:string"/>
						<xsd:element name="claveExpediente" type="xsd:string"/>
						<xsd:element name="evento" type="tns2:EventoExpediente"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaEventoExpedienteResponse">
				<xsd:complexType/>
			</xsd:element>
			<complexType name="BackofficeFacadeException">
				<sequence/>
			</complexType>
			<xsd:element name="fault" type="intf:BackofficeFacadeException"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="altaEventoExpedienteRequest">
		<wsdl:part name="parameters" element="intf:altaEventoExpediente"/>
	</wsdl:message>
	<wsdl:message name="BackofficeFacadeException">
		<wsdl:part name="fault" element="intf:fault"/>
	</wsdl:message>
	<wsdl:message name="altaEventoExpedienteResponse">
		<wsdl:part name="parameters" element="intf:altaEventoExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="altaExpedienteRequest">
		<wsdl:part name="parameters" element="intf:altaExpediente"/>
	</wsdl:message>
	<wsdl:message name="altaExpedienteResponse">
		<wsdl:part name="parameters" element="intf:altaExpedienteResponse"/>
	</wsdl:message>
	<wsdl:portType name="BackofficeFacade">
		<wsdl:operation name="altaExpediente">
			<wsdl:input name="altaExpedienteRequest" message="impl:altaExpedienteRequest"/>
			<wsdl:output name="altaExpedienteResponse" message="impl:altaExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
		<wsdl:operation name="altaEventoExpediente">
			<wsdl:input name="altaEventoExpedienteRequest" message="impl:altaEventoExpedienteRequest"/>
			<wsdl:output name="altaEventoExpedienteResponse" message="impl:altaEventoExpedienteResponse"/>
			<wsdl:fault name="BackofficeFacadeException" message="impl:BackofficeFacadeException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BackofficeFacadeSoapBinding" type="impl:BackofficeFacade">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="altaExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="altaEventoExpediente">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BackofficeFacadeException">
				<soap:fault name="BackofficeFacadeException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BackofficeFacadeService">
		<wsdl:port name="BackofficeFacade" binding="impl:BackofficeFacadeSoapBinding">
			<soap:address location="http://intranet.caib.es/zonaperws/services/v1/BackofficeFacade"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
