sistra-2.1/moduls/modul-zonaper/moduls/webservices/wsdl/zonaper/v2/ConfiguracionAvisosExpediente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:es:caib:zonaper:ws:v2:model:ConfiguracionAvisosExpediente" targetNamespace="urn:es:caib:zonaper:ws:v2:model:ConfiguracionAvisosExpediente" version="1.0">
	<xs:complexType name="ConfiguracionAvisosExpediente">
		<xs:sequence>
			<xs:element name="habilitarAvisos" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="avisoSMS" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="avisoEmail" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
