moduls/modul-redose/moduls/webservices/wsdl/redose/v2/FirmaWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:es:caib:redose:ws:v2:model:FirmaWS" targetNamespace="urn:es:caib:redose:ws:v2:model:FirmaWS" version="1.0">
	<xs:complexType name="FirmaWS">
		<xs:sequence>
			<xs:element name="firma" type="xs:base64Binary"/>
			<xs:element name="formato" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FirmasWS">
		<xs:sequence>
			<xs:element name="firmas" type="tns:FirmaWS" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
